1. create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

In [5]:
shopping = ["spam", "ham", "eggs", "ham"]
shopping

['spam', 'ham', 'eggs', 'ham']

In [6]:
#i. Extract the second element of the list.

shopping[1]

'ham'

In [9]:
#ii.Extract the first to third (inclusive) element of the list.

shopping[0:3]

#Extract everything except the last element of the list.

['spam', 'ham', 'eggs']

In [10]:

#iii. Extract everything except the last element of the list.

shopping[:-1]

['spam', 'ham', 'eggs']

2. Set up a list with the following elements:

In [31]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]
#stops

In [32]:
#i. Append Edinburgh Waverley to the end of the list
stops.append("Edinburgh Waverley")
#stops

In [33]:
#ii. Add "Queen Street" to the start of the list
stops.insert(0, "Queen Street")

In [34]:
#iv. Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
stops.insert(4, "Polmont")

In [35]:
#v. Remove "Haymarket" from the list of stops
stops.remove("Haymarket")

In [36]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [38]:
#vi. Remove all items from stops
stops.clear()
#stops

3. Set up the following dictionary

In [40]:
person = {"name": "Steph", "age": 31, "Instructor" : True}
#person

In [44]:
#i. Return the keys, values and items from this dictionary

person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [45]:
person.values()

dict_values(['Steph', 31, True])

In [46]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [ ]:
#ii. Take out only the name from it

In [48]:
person["name"]

'Steph'

In [ ]:
#iii. Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

In [50]:
person.update({"email":"steph@codeclan.com"})
#person.items()

In [55]:
#iv. Delete the job description from the dictionary (Hint: look up the del function)
del person["Instructor"]
#person.items()

4. For the following list of numbers:

In [64]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

[1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [60]:
#i. #Print out a list of the even integers:

for i in numbers:
    if i %2 == 0:
        print(i)

6
2
2
6

In [67]:
#Print the difference between the largest and smallest value:
numbers_sorted = sorted(numbers)
diff = numbers_sorted[-1] - numbers_sorted[0]
diff

98

In [193]:
# test list
numbers2 = [1, 6, 2, 3, 7, 1]
numbers3 = [11, 6, 4, 99, 7, 11]

In [202]:
#Print True if the list contains a 2 next to a 2 somewhere.
        
def double2 (list):
    for i in range(len(list)):
        if list[i] == 2 and list[i+1] == 2:
            return True
    return False
            
#double2(numbers)
#double2(numbers2)
#double2(numbers3)

False

In [203]:
#Print the sum of the numbers, BUT ignore any section of numbers 
#starting with a 6 and extending to the next 7. So #[11, 6, 4, 99, 7, 11] would have sum of 22


def dontsum(list):
    total = 0
    stop = False
    for i in range(len(list)):
        if stop == False:
            if list[i] == 6:
                stop = True
            else:
                total = total + list[i]
        else: 
            if list[i] == 7:
                stop = False
    return total
            
#dontsum(numbers)
#dontsum(numbers2)
#dontsum(numbers3)

5. Write a conditional that takes in two inputs :
We want to print "Woo Python!" if either python_is_fun is true OR python_is_weird is true OR both python_is_fun and python_is_weird are true. Otherwise, print "Python is not for me!". Make sure you test all the combinations.

In [208]:
python_is_fun = False
python_is_weird = False

if(python_is_fun == True and python_is_weird == True):
    print("Woo Python!")
elif(python_is_fun == True or python_is_weird == True):
    print("Woo Python!")
else:
    print("Python is not for me!")

Python is not for me!

6. We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

Instead, we want to define a function which passes in a list, so that if we wanted to count eggs of a different list of chickens from another farm, we can use the same function, just pass in a different list.
We also want to return the string at the end, instead of using print.

In [223]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

In [220]:
def egg_count(list):
    total_eggs = 0
    for chicken in chickens:
        total_eggs += chicken["eggs"]
        chicken["eggs"] = 0
    return "total_eggs collected is " + str(total_eggs)

In [224]:
egg_count(chickens)

'total_eggs collected is 4'

Extensions

1. Set up the following collection:

In [251]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

In [252]:
#Change the capital of Wales from "Swansea" to "Cardiff".

united_kingdom[1]["capital"] = "Cardiff"
#united_kingdom[1]


#Use a loop to find the total population of the UK.

In [253]:
#Create a dictionary for Northern Ireland and add it to the united_kingdom list 
#(The capital is Belfast, and the population is 1,811,000)

NI = {
    "name": "Northern Ireland",
    "population": 1811000,
    "capital": "Belfast"
  }

united_kingdom.append(NI)


united_kingdom
#len(united_kingdom)

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'},
 {'name': 'Northern Ireland', 'population': 1811000, 'capital': 'Belfast'}]

In [254]:
#Use a loop to print the names of all the countries in the UK.
for i in range(len(united_kingdom)):
    print(united_kingdom[i]["name"])

Scotland
Wales
England
Northern Ireland

In [257]:
#Use a loop to find the total population of the UK.
pop = 0 
for i in range(len(united_kingdom)):
    pop +=(united_kingdom[i]["population"])
print(pop)

63179000

In [ ]:
2.

In [258]:
users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}

In [ ]:
#i. Get Jonathan's Twitter handle (i.e. the string "jonnyt")
users["Jonathan"]["twitter"]

In [260]:
#ii.Get Erik's hometown
users["Erik"]["home_town"]

'Linlithgow'